.login-page {
  height: 100vh;
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-logo img {
  max-width: 180px;
  height: auto;
  display: block;
}

.login-form {
  min-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
  margin-bottom: 10px;
}