.logo {
  height: 64px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
